[submodule "external_roles/cloudalchemy.node-exporter"]
	path = external_roles/cloudalchemy.node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter
[submodule "external_roles/geerlingguy.docker"]
	path = external_roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "robertdebock.bootstrap"]
	path = robertdebock.bootstrap
	url = https://github.com/robertdebock/ansible-role-bootstrap
[submodule "external_roles/cloudalchemy.prometheus"]
	path = external_roles/cloudalchemy.prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus
